<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()">M</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed"></div>

    <a href="#presentation" (click)="toggleCollapse()">
      <img
      src="assets/img/foto.jpg"

        class="circle img-responsive profile-pic"
        *ngIf="collapsed"
        alt="avatar"
      />
    </a>

    <button
      class="btn-close"
      *ngIf="collapsed"
      @rotate
      (click)="closeSidenav()"
    >
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>

  <ul class="sidenav-nav">
    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" href="#aboutme" (click)="toggleCollapse()">
        <i class="fas fa-user-circle"></i>

        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          About Me
        </span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" href="#experience" (click)="toggleCollapse()">
        <!-- <i class="sidenav-link-icon" class="fa fa-home"></i> -->

        <!-- <i class="fal fa-reply-all"></i> -->

        <i class="fas fa-code"></i>
        <i class="fa-light fa-escalator"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          Eperience
        </span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a class="sidenav-nav-link" href="#skill" (click)="toggleCollapse()">
        <i class="fas fa-chart-bar"></i>

        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          Skill
        </span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        href="#education"
        (click)="toggleCollapse()"
      >
        <i class="fas fa-graduation-cap"></i>

        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          Education
        </span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        href="#conctame"
        (click)="toggleCollapse()"
      >
        <i class="fas fa-envelope"></i>

        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          Contact
        </span>
      </a>
    </li>

    <li class="sidenav-nav-item">
      <a
        class="sidenav-nav-link"
        href="https://drive.google.com/file/d/1WldzcF1DXn3rRWFHsAOuBODWWpvguU0f/view?usp=share_link"
        target="_blank"
        (click)="toggleCollapse()"
      >
        <i class="fas fa-file-alt"></i>

        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          Resume
        </span>
      </a>
    </li>
  </ul>
</div>

<div class="contenido" id="presentation">
  <div id="presentacion1" class="caption --bs-primary-bg-subtle">
    <div class="container" style="margin-left: 25px">
      <dl class="row">
        <dt class="col-sm-6">
          <h1>
            <em class="display-5">Hola, soy</em>
            <span class="title display-5" style="margin-left: 5px"
              ><em> Miguel Sardo.</em>
            </span>
          </h1>
        </dt>

        <br /><br /><br /><br />
        <h5 style="color: #fff; margin-left: 30px">
          <em class="display-5" style="font-size: 24px">Un</em>
          <span
            style="margin-left: 5px; font-size: 24px"
            class="title2 display-5"
            id="contenedor"
          >
            <em (click)="mostrarSiguienteLinea()"></em>
            <span class="puntero"></span>
          </span>
        </h5>

        <dd class="col-sm-8">
          <p>
            <em>{{ descripciontitulo }}</em>
          </p>

          <a
            href="https://www.linkedin.com/in/miguel-sardo-suarez-116147254/"
            target="_blank"
          >
            <button class="icon-btn linkedin" @rotate>
              <i class="fab fa-linkedin-in"></i>
            </button>
          </a>

          <a href="https://github.com/Miguel-112" target="_blank">
            <button class="icon-btn github" @rotate>
              <i class="fab fa-github"></i>
            </button>
          </a>
        </dd>

        <dd class="col-sm-8">
          <p>
            <a type="button"  href="#aboutme" class="btn btn-light">Read more</a>

            <a
             href="#conctame"
              style="margin-left: 5px"
              type="button"
              class="btn btn-outline-dark"
              
            >
              Contact Me
            </a>
          </p>
        </dd>
      </dl>
    </div>
  </div>
</div>




<div class="margen">
  <h5>
    <span style="margin-left: 85px; color: #fff" class="display-5"
      ><em> ABOUT ME</em></span
    >
  </h5>
</div>

<div class="contenido2 container" id="aboutme">
  <div class="row">
    <dd class="col-sm-8">
      <p>
        <em>{{ descripcionaboutme }}</em>
      </p>
    </dd>

    <dd class="col-sm-8" style="color: black">
      <p>
        <em>
          <p>
            <strong> Languages:</strong>{{ lenguajes }} <br />
            <strong> Databases:</strong> {{ Databases }}<br />
            <strong> Frameworks:</strong>{{ Framework }} <br />
            <strong>Tools & Technologies:</strong> {{ Technologies }}
          </p>
        </em>
      </p>
    </dd>

    <dd class="col-sm-8">
      <p>
        <em>{{ DescripcionAbout }}</em>
      </p>
    </dd>
  </div>
</div>

<div class="margen">
  <h5>
    <span style="margin-left: 85px; color: #fff" class="display-5"
      ><em> EXPERIENCE</em></span
    >
  </h5>
</div>

<div class="contenido3 container" id="experience">
  <div class="row">
    <div class="col-sm-12 text-right">
      <div *ngFor="let project of projects" class="my-card-experience">
        <div class="card">
          <div class="card-header">
            <p class="title2">

              
              <em> {{ project.title }}</em> <br>
            </p>

            <p>
              <em class="text-right">{{ project.typeProject }}</em> <br>
             
            </p>
          </div>

          <div class="card-body">
             <p><em> <a class="title2" *ngIf="project.linkporject !=''" href="{{project.linkporject}}" target="_blank" style="text-decoration: none;;">
              <i class="fab fa-github"></i> Link Proyecto Github</a></em></p>
             <p><em> <a class="title2" *ngIf="project.linkfrontend !=''" href="{{project.linkfrontend}}" target="_blank" style="text-decoration: none;;">
              <i class="fab fa-github"></i>Link Frontend Github</a></em></p>
             <p><em> <a class="title2" *ngIf="project.linkBackend !=''" href="{{project.linkBackend}}" target="_blank" style="text-decoration: none;;">
              <i class="fab fa-github"></i>Link Backend Github</a></em></p>
            <ul>
              <li>
                <p>
                  <em>
                    {{ project.description }}
                  </em>
                </p>
              </li>

              <li>
                <p>
                  <em>
                    Realice:
                    <strong>
                      {{ project.module }}
                    </strong>
                  </em>
                </p>
              </li>

              <li *ngIf="project.collaboration1 !=''">
                <p>
                  <em>{{ project.collaboration1 }}</em>
                </p>
              </li>

              <li *ngIf="project.collaboration1 !=''">
                <p>
                  <em>{{ project.collaboration2 }}</em>
                </p>
              </li>


              <li *ngIf="project.collaboration3 !=''">
                <p>
                  <em>{{ project.collaboration3 }}</em>
                </p>
              </li>

              <li *ngIf="project.projectimpact !=''">
                <p>
                  <em>{{ project.projectimpact }}</em>
                </p>
              </li>
              <li>
                <p>
                  <em> <strong>Tools:</strong>{{ project.technologies }} </em>
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margen">
  <h5>
    <span style="margin-left: 85px; color: #fff" class="display-5"
      ><em> SKILL</em></span
    >
  </h5>
</div>

<div class="contenido4 container" id="skill">
  <div class="card">
    <div class="card-header">
      <dd class="col-sm-8 text-right">
        <p class="title2"><em>Languages and Databases</em></p>
      </dd>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 text-right">
          <div class="card-text d-flex flex-wrap">
            <div *ngFor="let item of lenguajesdabases" class="my-card">
              <p>
                <em>{{ item.name }}</em>
              </p>

              <div>
                <div class="card-deckkk">
                  <div class="cardlenguages">
                    <img class="nueva-clase" [src]="item.ruta" />

                    <div class="">
                      <!-- <p class="card-text">{{ item.description }}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenido4 container" id="skill">
  <div class="card">
    <div class="card-header">
      <dd class="col-sm-8 text-right">
        <p class="title2"><em>Frameworks</em></p>
      </dd>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 text-right">
          <div class="card-text d-flex flex-wrap">
            <div *ngFor="let item of frameworks" class="my-card-framework">
              <p>
                <em>{{ item.name }}</em>
              </p>

              <div>
                <div class="card-deckkk">
                  <div class="cardlenguages">
                    <img class="nueva-clase" [src]="item.ruta" />

                    <div class="">
                      <!-- <p class="card-text">{{ item.description }}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contenido4 container" id="skill">
  <div class="card">
    <div class="card-header">
      <dd class="col-sm-8 text-right">
        <p class="title2"><em>methodologies and version control </em></p>
      </dd>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 text-right">
          <div class="card-text d-flex flex-wrap">
            <div
              *ngFor="let item of methodologies"
              class="my-card-methodologies"
            >
              <p>
                <em>{{ item.name }}</em>
              </p>

              <div>
                <div class="card-deckkk">
                  <div class="cardlenguages">
                    <img class="nueva-clase" [src]="item.ruta" />

                    <div class="">
                      <!-- <p class="card-text">{{ item.description }}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="margen">
  <h5>
    <span style="margin-left: 85px; color: #fff" class="display-5"
      ><em> EDUCATION </em></span
    >
  </h5>
</div>



<div class="contenido3 container" id="education">
  <div class="row">
    <div class="col-sm-12 text-right">
      <div class="my-card-experience">
        <div class="card">
          <div class="card-header">
            <p class="title2">
              <a class="no-underline" href="https://www.unicesar.edu.co/index.php/es/">
                <em>UNIVERSIDAD POPULAR DEL CESAR</em>
              </a>
            </p>

            <p>
              <em class="text-right">
              
              </em>
            </p>
          </div>

          <div class="card-body">
            <ul>
              <li>
                <p>
                  <em>
                    Colombia Valledupar/Cesar <br>
                   <strong>Título:</strong>Ingeniero de sistemas
                  </em>
                </p>
              </li>

              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="margen">
  <h5>
    <span style="margin-left: 85px; color: #fff" class="display-5"
      ><em> Contact  Me</em></span
    >
  </h5>
</div>




<div class="contenido3 container" id="conctame">
  <div class="row">
    <div class="col-sm-12 text-right">
      <div class="my-card-experience">
     
         
            <p class="title2">
              <a class="no-underline" href="https://www.unicesar.edu.co/index.php/es/">
                <em></em>
              </a>
            </p>

            <p>
              <em class="text-right">
              
              </em>
            </p>
          

          
           
            
            <a class="no-underline"  >
             
              <i class="fas fa-phone fa-3x"></i>
               <em style="margin-left: 1rem;">+57 3116237748</em>
            </a>  <br><br><br><br>


            <a class="no-underline"  >
              <i class="fas fa-envelope fa-3x"></i>
               <em style="margin-left: 1rem;">angelsardo1@gmail.com</em>
            </a>
             
            <br><br><br><br>

            <a href="https://github.com/Miguel-112" class="no-underline" target="_blank">
              <i class="fab fa-github fa-3x"></i>
              <em style="margin-left: 1rem;">https://github.com/Miguel-112</em>
            </a>
            

            <br><br><br><br>

            <a href="https://www.linkedin.com/in/miguel-sardo-suarez-116147254/" class="no-underline" target="_blank"  >
              <i class="fab fa-linkedin-in fa-3x"></i>
               <em style="margin-left: 1rem;">https://www.linkedin.com/in/miguel-sardo-suarez-116147254/</em>
            </a>
            
          

          
              
            
        
        </div>
      </div>
    </div>
  </div>
