
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()">M</button>
      <div class="logo-text" @fadeInOut *ngIf="collapsed"> </div>

      <img src="/assets/img/foto.jpg" class="circle img-responsive profile-pic" alt="avatar">

      <button class="btn-close" *ngIf="collapsed" @rotate (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
    </div>

    <ul class="sidenav-nav">
     

      <li class="sidenav-nav-item" >
        <a
        
          class="sidenav-nav-link"  href="#presentacion2">

          <i class="sidenav-link-icon"  class="fa fa-home"></i>


          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">

            About Me
          </span>
        </a>
      </li>


      <li class="sidenav-nav-item" >
        <a
        
          class="sidenav-nav-link"  href="#presentacion2">

          <i class="sidenav-link-icon"  class="fa fa-home"></i>


          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">

            Eperience
          </span>
        </a>
      </li>


      <li class="sidenav-nav-item" >
        <a
        
          class="sidenav-nav-link"  href="#presentacion2">

          <i class="sidenav-link-icon"  class="fa fa-home"></i>


          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">

            Skill
          </span>
        </a>
      </li>



      <li class="sidenav-nav-item" >
        <a
        
          class="sidenav-nav-link"  href="#presentacion2">

          <i class="sidenav-link-icon"  class="fa fa-home"></i>


          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">

            Education
          </span>
        </a>
      </li>


      <li class="sidenav-nav-item" >
        <a
        
          class="sidenav-nav-link"  href="#presentacion2">

          <i class="sidenav-link-icon"  class="fa fa-home"></i>


          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">

            Contact
          </span>
        </a>
      </li>


      <li class="sidenav-nav-item" >
        <a
        
          class="sidenav-nav-link"  href="#presentacion2">

          <i class="sidenav-link-icon"  class="fa fa-home"></i>


          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">

            Resume
          </span>
        </a>
      </li>




    </ul>
  </div>



  <div class="contenido" id="aboutme">

    <div id="presentacion1" class="caption">
        <h2>Hola, soy <span class="teal">Miguel Sardo.</span></h2>
        <h5 style="color:#fff">Un <span class="typing" style="font-weight: 300; color:#004d40"></span></h5>
        <!-- <h5 style="color:#00796b">A <span class="typing" style="font-weight: 300; color:#fff"></span></h5> -->
        <h5>
          Soy un autodidacta con gran capacidad de aprendizaje y una pasión por la programación. Me encanta enfrentarme a problemas complejos y desafiantes del mundo real, ya que mi mente curiosa siempre está buscando soluciones innovadoras. Además, tengo un gran compromiso con la mejora continua, lo que me impulsa a seguir aprendiendo y perfeccionando mis habilidades como programador.
        </h5>
      </div>

  </div>


  <div class="contenido2">

    <div id="presentacion" class="caption">
        <h2>Hola, soy <span class="teal">Miguel Sardo.</span></h2>
        <h5 style="color:#fff">Un <span class="typing" style="font-weight: 300; color:#004d40"></span></h5>
        <!-- <h5 style="color:#00796b">A <span class="typing" style="font-weight: 300; color:#fff"></span></h5> -->
        <h5>
          Soy un autodidacta con gran capacidad de aprendizaje y una pasión por la programación. Me encanta enfrentarme a problemas complejos y desafiantes del mundo real, ya que mi mente curiosa siempre está buscando soluciones innovadoras. Además, tengo un gran compromiso con la mejora continua, lo que me impulsa a seguir aprendiendo y perfeccionando mis habilidades como programador.
        </h5>
      </div>

  </div>



  <div id="presentacion2" class="contenido3">

    <div id="presentacion" class="caption">
        <h2>Hola, soy <span class="teal">Miguel Sardo.</span></h2>
        <h5 style="color:#fff">Un <span class="typing" style="font-weight: 300; color:#004d40"></span></h5>
        <!-- <h5 style="color:#00796b">A <span class="typing" style="font-weight: 300; color:#fff"></span></h5> -->
        <h5>
          Soy un autodidacta con gran capacidad de aprendizaje y una pasión por la programación. Me encanta enfrentarme a problemas complejos y desafiantes del mundo real, ya que mi mente curiosa siempre está buscando soluciones innovadoras. Además, tengo un gran compromiso con la mejora continua, lo que me impulsa a seguir aprendiendo y perfeccionando mis habilidades como programador.
        </h5>
      </div>

  </div>



  
