.sidenav{
    background: #263238;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem; 
    height: 100vh;
    box-shadow:  0.063rem 0 1.25rem 0 #8690a4;
}


    .logo-container{

        display: flex;
        align-items: center;
        padding: 0.93rem 0.938rem 0 0.938rem;
        width: 100%;

       
    }

    .logo{
        background-color: #fff;
        text-align: center;
        width: 3rem;
        min-width: 3rem;
        border-radius: 0.313rem;
        padding: 0.313rem;
        font-size: 24px;
        font-weight:900 ;
        cursor: pointer;
        border: none;



    }
    


    .logo-text{
        margin-left: 1.5rem;
        font-size: 24px;
        font-weight: 700;
        color: #fff;

    }

    .btn-close{

        margin-left: auto;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: transparent;
        border: none;

       

    }

    .fa-times{
        color: #fff;
        font-size: 24px;
            
    }


    .sidenav-collapsed{

        width: 16.5625rem;

    }


    .sidenav-nav{

        list-style: none;
        padding: 0.938rem;
        margin:0;
        display: flex;
        flex-direction: column;
        align-items: center;
        height:calc(100%-3.65rem) ;
        cursor: pointer;

    }


    .sidenav-nav-item{

        width: 100%;
        margin-bottom: 0.625rem;

    }



    .sidenav-nav-link{
        display: flex;
        align-items: center;
        height: 3rem;
        color:#f3f3f3;
        text-decoration: none;
        border-radius: 0.625rem;
        transition: all .3s ease;

    }


    .sidenav-link-icon{

        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0.05rem;
        text-align: center;

    }

    .sidenav-link-text{
        margin-left: 1.5rem ;


    }



    .sidenav-nav-item:hover > .sidenav-nav-link {
        background-color: #fff;
        color: #000;
      }




      .active {
        background-color: #fff;
      }
      
      .active .sidenav-link-icon,
      .active .sidenav-link-text {
        color: #000;
      }
      
      

      
      /*contenido  */

      .contenido {
        margin-left: 5rem;
        padding: 2rem;
        background-color: #7c9ecc;
        height: auto;
        font-family: 'Roboto', sans-serif;
        
       
        
      }
      
      .caption {
        margin-top: 4rem;
        text-align: left;
        /* text-align: center; */
      }
      
      .teal {
        color: #004d40;
      }
      
      .typing {
        display: inline-block;
        animation: typing 2s steps(20, end) infinite;
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

  /* -------------------------------------------contenido2-------------------------------------------------------- */



  .contenido2 {
   
    margin-left: 5rem;
    width: auto;
   
   
    height: auto;
    
  
  }


  .caption {
    margin-top: 4rem;
    text-align: center;
  }
  
  .teal {
    color: #004d40;
  }
  
  .typing {
    display: inline-block;
    animation: typing 2s steps(20, end) infinite;
  }

  @media (max-width: 300px) {
    .contenido2 {
      height: auto;
     margin-left:5rem ;
      width: 60%;
      overflow-y: auto; /* agregamos una barra de desplazamiento vertical si es necesario */
      margin-left:1rem;
     
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    /* Estilos para dispositivos medianos */
    .contenido2 {
      height: auto;
      height:auto; /* altura máxima */
     
      width: 60%;
      overflow-y: auto; /* agregamos una barra de desplazamiento vertical si es necesario */
 
    }
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }







  /* -------------------------------------------contenido3-------------------------------------------------------- */

  .contenido3 {
    /* display: flex; */
    background-color: #fff;
    padding: 2rem;
    max-width: 60%;
    width: 100%;
  }
  
  @media (max-width: 300px) {
    .my-card-experience {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  
  @media (min-width: 301px) and (max-width: 991px) {
    /* Estilos para dispositivos medianos */
    .contenido3 {
      height: auto;
      text-align: left;
      width: auto;
      overflow-y: auto;
    }
  }
  

  .card-body ul {
    max-width: 100%;
    overflow-x: scroll;
  }
  
  @media (max-width: 576px) {
    .contenido3 {
      height: auto;
      text-align: left;
      width: auto;
      max-width: auto;
      align-items: center;


    }
   .my-card-experience {
      width: 100%;
    }
    
  }

  @media (max-width: 576px) {
    .contenido3 {
      height: auto;
      text-align: left;
      width: 100%;
      max-width: 80% ;
      overflow-y: auto; /* agregamos una barra de desplazamiento vertical si es necesario */
      margin-left: 5rem;
     
    }
    .my-card-experience {
      width: 100%;
    }
   
  }
  
  
  

  


      /* ---------------------------------------------------contenido4---------------------------------------------- */


      .contenido4 {
        display: flex;
        background-color: #fff;
        padding: 2rem;
        height: auto;
        /* margin-left: 5rem;  */
        width: 60%;
      
      }


      .caption {
        margin-top: 4rem;
        text-align: center;
      }
      
      .teal {
        color: #004d40;
      }
      
      .typing {
        display: inline-block;
        animation: typing 2s steps(20, end) infinite;
      }

      @media (max-width: 576px) {
        .contenido4 {
          height:auto;
          align-items: center;
          
          width: 80%;
          overflow-y: auto; /* agregamos una barra de desplazamiento vertical si es necesario */
          margin-left: 5rem;
        }
      }

      @media (min-width: 768px) and (max-width: 991px) {
        /* Estilos para dispositivos medianos */
        .contenido4 {

          align-items: center;
         
          height:auto; /* altura máxima */
        
          width: 80%;
          overflow-y: auto; /* agregamos una barra de desplazamiento vertical si es necesario */
     
        }
      }
      
      @keyframes typing {
        from {
          width: 0;
        }
        to {
          width: 100%;
        }
      }

      @media screen and (min-width: 768px) {
        .my-card {
          margin-left: 2rem;
          margin-right: 2rem;
        }
      }


      
      @media screen and (min-width: 768px) {
        .my-card-methodologies {
          margin-left: 10rem;
          margin-right: 10rem;
        }
      }

      @media screen and (min-width: 768px) {
        .my-card-framework {
          margin-left: 5rem;
          margin-right: 2rem;
        }
      }


    


      @media screen and (min-width: 300px) {
        .my-card {
          margin-left: 5px;
         
        }
      }



      
      @media screen and (min-width: 300px) {
         .my-card-methodologies {
          margin-left: 10px;

         
        }
      }




     

      
    











      
      
      
     
      

      
      
   /* profile */
   .profile-pic {                                        
    width: 100px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #888;
  }



  .title{
    
      background-color: #0064a4 !important;
     
    
  }

  .title2{
    
    color: #0064a4 !important;
   
  
}


  .caption {
    margin-top: 4rem;
    text-align: left;
    color: #fff;
  }


  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  @media only screen and (min-width: 768px) {
    .container dd {
      width: 70%;
      margin: 2rem 2rem;
    }
  }

 

  .container dd {
    line-height: 1.9;
 
   
   
  }
  



  .elemento {
  display: none;
  margin-right: 0.5em;
}

.actual {
  display: inline;
}

.animated-text {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.animated-text span {
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}

.animated-text span.active {
  opacity: 1;
}

.animated-text span:first-child {
  position: relative;
}

#linea2, #linea3 {
  display: none;
}

/* puntero   */
.puntero {
  position: absolute;
  left: 0;
  bottom: 0.2em;
  width: 0.5em;
  height: 1em;
  background-color: white;
  animation: parpadeo 1s infinite;
  caret-color: transparent;
}

@keyframes parpadeo {
  50% {
    opacity: 0;
  }
}


/* Botones */
.icon-btn {
  margin-left: auto;
  width: 50px;
  height: 50px;
  border: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 30px;
  line-height: 70px;
  border-radius: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
}

.github {
  color: black;
}

.icon-btn.github {
  color:black;
}

.icon-btn.github:hover {
  background-color: black;
  color: #FFFFFF;
}



.icon-btn.linkedin {
  color: #0064a4;
}

.icon-btn.linkedin:hover {
  background-color: #0064a4;
  color: #FFFFFF;
}





.social {
  margin: 0 auto;
  width: auto;
  text-align: inherit;
 
 
}




.margen {
  background-color: #0064a4;
  height: 100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .margen {
    justify-content: center;
  }
}



@media (max-width: 576px) {
  .col-sm-8 p {
    font-size: 16px; /* ajuste el tamaño de fuente según sea necesario */
  }
}



.card-deckkk {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cardlenguages {
  width: calc(33.33% - 1rem);
  margin-bottom: 1rem;
}





.nueva-clase {
  max-width: 60px;
}


.no-underline {
  text-decoration: none; /* Quita el subrayado */
  color: #0064a4 !important;
 
  
}

/* Aplicamos la clase "no-underline" a los enlaces dentro de la clase "title2" */
.title2 a.no-underline {
  text-decoration: none; /* Quita el subrayado */
  color: #0064a4 !important; /* Hereda el color del texto de la clase "title2" */
  font-weight: inherit; /* Hereda el peso de fuente de la clase "title2" */
  /* Puedes seguir heredando otros estilos de la clase "title2" si lo deseas */
}















 